@import "../vendors/joshua.js/less/all.less";
@import "../vendors/fontawesome/less/font-awesome.less";
.normalize();
.reset();

.js-picture{
	font-size: 0;

	img, canvas{
		width: 100%;
	}
}

.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}

a, a:focus{
	outline: none;
	color: white;
	text-decoration: none;
}

html, body{
	width: 100%;
	height: 100%;
	.user-select(none);
}

body{
	position: relative;
	overflow: hidden;
	min-height: 470px;
	min-width: 320px;
}

body, input, textarea, select{
	font-family: 'Microsoft Yahei', '微软雅黑';
	color: #888;
}

.customScrollBar{
	position: fixed;
	right: 0;
	top: 0;
	height: 100%;
	width: 10px;
	background-color: #ccc;

	.customScrollBarContent{
		position: absolute;
		opacity: 0;
		width: 8px;
		right: 1px;
		background-color: gray;
		.border-radius(10px);
		.transition(opacity 0.5s ease);
		
		&.ready{
			opacity: 0.4;
		}
		&.scrolling{
			opacity: 1;
		}
	}
}

#left-panel{
	position: fixed;
	height: 100%;
	width: 370px;
	background-color: #222729;
	.box-shadow(inset -0.25em 0 0.25em 0 rgba(0,0,0,0.125),0.25em 0 0.5em 0 rgba(0,0,0,0.5));
	z-index: 999;

	.profile{
		position: relative;
		margin: 40px 35px;
		min-height: 85px;

		.face{
			float: left;
			width: 80px;
			height: 80px;
		}

		.desc{
			float: right;

			h1, h2{
				text-align: right;
			}
			h1{
				color: white;
				font-size: 3em;
			}
			h2{
				color: #aaa;
				font-size: 1.5em;
			}
		}
	}

	.nav-menu{
		ul{
			li{
				a{
					display: block;
					font-size: 1.2em;
					text-align: right;
					padding: 0.9em 2em;
					color: #aaa;
					overflow: auto;
					line-height: 28px;
					.transition(color 0.35s ease);

					.fa{
						float: left;
						font-size: 1.2em;
						position: relative;
						top: 3px;
					}
					.text{
						float: right;
					}
				}

				&.active a{
					background: rgba(0,0,0,0.15);
					box-shadow: inset 0 0 0.5em 0 rgba(0,0,0,0.2);
					color: #fff;

					.fa{
						color: #E27689;
					}
				}

				&:hover a{
					color: #fff;
				}
			}
		}
	}

	.social{
		width: 100%;
		position: absolute;
		bottom: 0;
		border-top: solid 1px rgba(255,255,255,0.05);
		padding-top: 30px;

		ul{
			margin-bottom: 2.5em;
			width: 100%;
			text-align: center;
			li{
				display: inline-block;
				a{
					width: 40px;
					display: block;
					color: gray;
					.transition(color 0.3s ease-in-out, transform 0.3s ease-in-out);

					span{
						font-size: 1.5em;
					}
				}

				&:hover{
					a{
						.translate(0px, -5px);
						&.github{
							color: #FAFAFA;
						}
						&.facebook{
							color: #3C5A98;
						}
						&.twitter{
							color: #2DAAE4;
						}
						&.tumblr{
							color: #51718A;
						}
					}
				}
			}
		}
	}

	.toggle{
		position: absolute;
		right: -45px;
		top: 5px;
		width: 40px;
		height: 40px;
		background-color: rgba(0,0,0,0.25);
		cursor: pointer;
		display: none;
		.border-radius(10px);

		.icon{
			position: absolute;
			left: 7px;
			top: 7px;
			width: 26px;
			opacity: 0.8;
			.transition(transform 0.3s ease);

			.chosing &{
				.rotate(45deg);
			}
		}
	}
}

#right-panel{
	margin-left: 370px;
	margin-right: 10px;
	
	header{
		height: 600px;
		background: url('../images/banner.jpg') center center no-repeat;
		background-size: auto 100%;
	}
	section{
		padding: 3em 0;
		.box-shadow(inset 0 -1px 0 0 rgba(0,0,0,0.05), inset 0 -0.1em 0.1em 0 rgba(0,0,0,0.025));

		h2{
			text-align: center;
			font-size: 2.5em;
			margin-bottom: 1em;
		}

		p{
			text-align: center;
			line-height: 2em;
			font-size: 1.2em;
		}

		footer{
			text-align: center;
			margin-top: 2em;
		}

		.button{
			width: auto;
			padding: 1.5em 3.5em;
			display: inline-block;
			color: #fff;
			background-color: #8ebebc;
			border: 0;
			.transition(background 0.35s ease-in-out);
			.border-radius(0.35em);

			&:hover{
				background-color: #9ececc;
			}
		}
	}
	.container{
		padding: 0 3.5em;
	}

	#intro{
		background-color: #ffffff;
	}
	#hobby{
		background-color: #f5fafa;

		ul.covers{
			text-align: justify;

			li{
				position: relative;
				cursor: pointer;
				display: inline-block;
				width: 32%;
				overflow: hidden;

				div.js-picture{
					width: 100%;
					overflow: hidden;

					img, canvas{
						.transition(transform 0.4s ease);
					}
					
				}

				.cover-mask{
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					padding: 0 10%;
					background-color: rgba(0,0,0,0);
					.transition(background 0.35s ease);
					color: white;

					h3{
						position: absolute;
						top: -10%;
						font-size: 2em;
						opacity: 0;
						.transition(all 0.35s ease);
					}

					p{
						position: absolute;
						bottom: -10%;
						text-align: left;
						line-height: 22px;
						opacity: 0;
						.transition(all 0.35s ease);
					}
				}

				.no-touch &:hover{
					.js-picture{
						img, canvas{
							.scale(1.08);
						}
					}

					.cover-mask{
						background-color: rgba(0,0,0,0.6);

						h3{
							top: 10%;
							opacity: 1;
						}

						p{
							bottom: 10%;
							opacity: 1;
						}
					}
				}
			}

			&:after{
				content:"";
				display: inline-block;
				text-align: justify;
				width: 100%;
			}

			
		}
	}
	#about{
		background-color: #ecf1f1;
	}
	#contact{
		background-color: #e8edec;

		form{
			margin-top: 1.5em;

			.form-row{
				margin-left: -15px;
				overflow: auto;
				margin-bottom: 15px;

				.half, .full{
					width: 50%;
					float: left;
					padding-left: 15px;
					.box-sizing(border-box);
					overflow: hidden;
				}
				.full{
					width: 100%;
					clear: both;
					text-align: center;
				}

				input[type="text"], input[type="email"], textarea{
					display: block;
					width: 100%;
					background: rgba(255,255,255,0.75);
					.border-radius(0.35em);
					padding: 1em 1em;
					.box-shadow(inset 0 0.1em 0.1em 0 rgba(0,0,0,0.05));
					border: solid 1px rgba(0,0,0,0.15);
					.box-sizing(border-box);
					.transition(transform 0.3s ease-in-out);
				}
				textarea{
					min-height: 16em;
				}
			}
		}
	}

	#footer{
		padding: 3em 0;
		background-color: #dce3e2;

		p{
			text-align: center;
		}
	}
}

@media screen and (max-width: 1450px) {
	#left-panel{
		width: 300px;

		.profile{
			min-height: 70px;
			.face{
				width: 65px;
				height: 65px;
			}

			.desc{
				h1{
					font-size: 2.2em;
				}
				h2{
					font-size: 1.3em;
				}
			}
		}

		.nav-menu{
			ul{
				li{
					a{
						font-size: 1em;
						padding: 0.9em 2em;
						line-height: 28px;

						.fa{
							font-size: 1.2em;
							top: 4px;
						}
					}
				}
			}
		}

		.social{
			bottom: 0;

			ul{
				margin-bottom: 2.5em;
				li{
					a{
						width: 35px;

						span{
							font-size: 1.4em;
						}
					}
				}
			}
		}
	}

	#right-panel{
		margin-left: 300px;

		header{
			height: 450px;
		}

		section{
			padding: 2.5em 0;

			h2{
				font-size: 2.3em;
				margin-bottom: 0.8em;
			}

			p{
				line-height: 2em;
				font-size: 1em;
			}

			.button{
				padding: 1.2em 3em;
			}
		}
		.container{
			padding: 0 3.2em;
		}
		#contact{

			form{
				.form-row{
					margin-left: -12px;
					margin-bottom: 12px;

					.half, .full{
						padding-left: 12px;
					}

					input[type="text"], input[type="email"], textarea{
						padding: 0.8em 0.8em;
					}
					textarea{
						min-height: 15em;
					}
				}
			}
		}

		#footer{
			padding: 3em 0;
		}
	}
}

@media screen and (max-width: 920px) {
	#left-panel{
		width: 210px;

		.profile{
			min-height: 112px;
			text-align: right;
			margin: 35px 25px;

			.face{
				display: inline-block;
				float: none;
				width: 60px;
				height: 60px;
			}

			.desc{
				position: relative;
				top: 5px;
				float: none;
				h1{
					font-size: 2em;
				}
				h2{
					font-size: 1.1em;
				}
			}
		}

		.nav-menu{
			ul{
				li{
					a{
						font-size: 0.9em;

						.fa{
							font-size: 1.1em;
							top: 6px;
						}
					}
				}
			}
		}

		.social{
			bottom: 0;

			ul{
				margin-bottom: 2em;
				li{
					a{
						width: 32px;
					}
				}
			}
		}
	}

	#right-panel{
		margin-left: 210px;

		header{
			height: 350px;
		}

		section{
			padding: 2.2em 0;

			h2{
				font-size: 2em;
				margin-bottom: 0.6em;
			}

			p{
				line-height: 2em;
				font-size: 0.8em;
			}

			.button{
				padding: 1em 2.6em;
			}
		}
		.container{
			padding: 0 1.8em;
		}
		#contact{

			form{
				.form-row{
					margin-left: 0px;
					margin-bottom: 8px;

					.half, .full{
						margin-bottom: 8px;
						width: 100%;
					}
					.half:last-child{
						margin-bottom: 0;
					}

					input[type="text"], input[type="email"], textarea{
						padding: 0.8em 0.8em;
					}
					textarea{
						min-height: 14em;
					}
				}
			}
		}

		#footer{
			padding: 2.5em 0;
			font-size: 0.8em;
		}
	}
}

@media screen and (max-width: 690px) {
	#left-panel{
		width: 240px;
		left: -240px;
		.transition(all 0.4s ease);
		.box-shadow(none);

		.chosing &{
			.translate(240px, 0);
			.box-shadow(inset -0.25em 0 0.25em 0 rgba(0,0,0,0.125),0.25em 0 0.5em 0 rgba(0,0,0,0.5));
		}

		.toggle{
			display: block;
		}

		.profile{
			min-height: 70px;

			.face{
				float: left;
				width: 65px;
				height: 65px;
			}

			.desc{
				h1{
					font-size: 2.2em;
				}
				h2{
					font-size: 1.3em;
				}
			}
		}

		.nav-menu{
			ul{
				li{
					a{
						font-size: 1em;
						padding: 0.9em 2em;
						line-height: 28px;

						.fa{
							font-size: 1.2em;
							top: 4px;
						}
					}
				}
			}
		}

		.social{
			bottom: 0;

			ul{
				margin-bottom: 2.5em;
				li{
					a{
						width: 35px;

						span{
							font-size: 1.4em;
						}
					}
				}
			}
		}
	}

	#right-panel{
		margin-left: 0px;
		.transition(transform 0.4s ease);

		.chosing &{
			.translate(240px, 0);
		}

		header{
			height: 260px;
		}

		section{
			padding: 2.2em 10px 2.2em 0;

			h2{
				font-size: 2em;
				margin-bottom: 0.6em;
			}

			p{
				line-height: 2em;
				font-size: 0.8em;
			}

			.button{
				padding: 1em 2.6em;
			}
		}
		.container{
			padding: 0 1.2em;
		}
		#contact{

			form{
				.form-row{
					margin-left: 0px;
					margin-bottom: 8px;

					.half, .full{
						margin-bottom: 8px;
						width: 100%;
					}
					.half:last-child{
						margin-bottom: 0;
					}

					input[type="text"], input[type="email"], textarea{
						padding: 0.5em 0.8em;
					}
					textarea{
						min-height: 10em;
					}
				}
			}
		}

		#footer{
			padding: 2.5em 0;
			font-size: 0.8em;
		}
	}
}